In [10]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\user\anaconda3\lib\site-packages (3.5.3)
Requirement already satisfied: numpy>=1.17 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.23.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (4.37.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: packaging>=20.0 in c:\users\user\anaconda3\lib\site-packages (from matplotlib) (20.9)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [13]:
import pandas as pd
import matplotlib.pyplot as plt

# Importa o arquivo Excel e as colunas pedidas - passadas como variável


gas = pd.read_excel(r'C:\Users\User\Desktop\Trabalho\Python\Base Contatos - RJ e SP.xlsx')
df = pd.DataFrame(gas["UF"])
df.rename(columns={'UF': 'CAVALO'}, inplace = True)
#lista = list(df["UF"])
print("\nAfter modifying first column:\n", df.columns)
df

After modifying first column:
 Index(['CAVALO'], dtype='object')

      CAVALO
0         SP
1         SP
2         RJ
3         SP
4         SP
...      ...
11273     SP
11274     SP
11275     SP
11276     RJ
11277     RJ

[11278 rows x 1 columns]